*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Karantina', cursive;
}

header{
    background-color: black;
    position: absolute;
    z-index: 4;
    width: 100%;
    margin-top: -500PX;
}

body{
    overflow-x: hidden;
    background-color: black;
}

.centro{
    width: 1440px;
    margin: 0 auto;
}

/* header parte esquerda */
.menu-esquerda ul{
    position: relative;
    display: inline-block;
    top: -25px;
    margin-left: 15px;
}

.menu-esquerda li{
    display: inline-block;
    padding: 0 10px;
}

.menu-esquerda a{
    color: white;
    font-size: 25px;
}

/* header parte direita */
.menu-direita ul{
    position: relative;
    display: inline-block;
    top: -50px;
    float: right;
}

.menu-direita li{
    display: inline-block;
    padding: 0 70px;
}

.menu-direita a{
    color: white;
    font-size: 25px;
}

.notificacao{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    margin-left: -64px;
    top: -11px;
    border-radius: 13px;
    text-align: center;
}

.notificacao span{
    color: white;
    font-size: 20px;
}

#video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    top:0;
}

.sobreposicao{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.2);
    top: 0;
}

.texto-destaque{
    position: relative;
    margin-left: 4%;
    margin-top: 500px;
    z-index: 3;
    width: 500px;
    
}
.texto-destaque h2{
    color: rgb(0, 217, 255);
    font-size: 70px;
  
}

.texto-destaque p{
    color: white;
    text-align: justify;
}

.texto-destaque a{
    background-color:rgba(148, 148, 148, 0.3);
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 8px 70px;
    top: 20px;
    margin-right: 15px;
}

.filmes{
    margin-top: 171px;
    margin-left: 175px;
    margin-bottom: 0;
    color: white;
}

.filmes h1{
    font-size: 50px;
    letter-spacing: 2px;
}

.catalogo{
    margin-bottom: 50px;
}